html {

    font-size : 16px;

}

#btn{
    width: 100px;
}
#spread{
    height: 0;
    overflow: hidden;
}

@media only screen and (max-width: 1080px),only screen and (max-width:1080px) {
     html,body {
    font-size: 30px
    }
  }

@media only screen and (max-width: 720px),only screen and (max-width:720px) {
    html,body {
    font-size: 30px
    }
  }

button{
    font-size: 16px;
}