<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="icon" href="{{url_for('static', filename='tool.ico')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>python答案解析</title>
</head>
<body>
<div style="width: 640px; margin: auto;">
<p>以上都是对列表基础操作，所用到的每一个函数，列表的每一个方法，都是需要你熟记于心的</p>
<a href="{{url_for('fun1', num=num)}}" target="_blank">
    <button style="font-size: 20px">返回答题</button>
</a>
</div>
</body>
</html>