<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="icon" href="{{url_for('static', filename='tool.ico')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.min.css') }}">
    <script src="{{url_for('static', filename='js/highlight.min.js')}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>python答案解析</title>
</head>
<body>
<div style="width: 640px; margin: auto;">
<!--注释区-->
<p>列表的切片操作，最关键的一点在于左闭右开，结束位置的数据不会列入结果中</p>
<!--注释区-->
<a href="{{url_for('fun1', num=num)}}" target="_blank">
    <button style="font-size: 20px">返回答题</button>
</a>
</div>
</body>
</html>