<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="icon" href="{{url_for('static', filename='tool.ico')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.min.css') }}">
    <script src="{{url_for('static', filename='js/highlight.min.js')}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>python练习题</title>
</head>
<body>
<div style="width: 640px; margin: auto;">
<h1>１ 数据类型篇</h1>
<h2>1.4 字典练习题</h2>
<h3>1.4.1 字典基本操作</h3>
<p>字典内容如下</p>

<!--代码输出区-->
<pre class="python">
<code>dic = {
    'python': 95,
    'java': 99,
    'c': 100
}
</code></pre>
<p>用程序解答下面的题目</p>
第1题:
<pre class="python"><code>字典的长度是多少</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer1"></textarea>
<p><br/></p>
第2题:
<pre class="python"><code>请修改'java' 这个key对应的value值为98</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer2"></textarea>
<p><br/></p>
第3题:
<pre class="python"><code>删除 c 这个key</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer3"></textarea>
<p><br/></p>
第4题:
<pre class="python"><code>增加一个key-value对，key值为 php, value是90</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer4"></textarea>
<p><br/></p>
第5题:
<pre class="python"><code>获取所有的key值，存储在列表里</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer5"></textarea>
<p><br/></p>
第6题:
<pre class="python"><code>获取所有的value值，存储在列表里</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer6"></textarea>
<p><br/></p>
第7题:
<pre class="python"><code>判断 javascript 是否在字典中</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer7"></textarea>
<p><br/></p>
第8题:
<pre class="python"><code>获得字典里所有value 的和</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer8"></textarea>
<p><br/></p>
第9题:
<pre class="python"><code>获取字典里最大的value</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer9"></textarea>
<p><br/></p>
第10题:
<pre class="python"><code>获取字典里最小的value</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer10"></textarea>
<p><br/></p>
第11题:
<pre class="python"><code>字典 dic1 = {'php': 97}， 将dic1的数据更新到dic中</code></pre>
<p>你的答案：</p>
<textarea rows="3" style="width:640px" name="answer11"></textarea>
<p><br/></p>
<!--代码输出区-->
<div id="spread">
    <pre class="python">
<!--答案区--><code>
第1题，len(dic),结果为3
第2题，dic['java'] = 98,对字典里value的修改，必须通过key才可以
第3题，del dic['c']
第4题，dic['php'] = 90
第5题，lst = list(dic.keys())
第6题，lst = list(dic.values())
第7题，'javascript' in dic
第8题，sum(dic.values())
第9题，max(dic.values())
第10题，min(dic.values())
第11题，dic.update(dic1)
</code><!--答案区-->
    </pre>
</div>
<button style="font-size: 20px" onclick="javascript:jump()">计算得分</button>
<button id="btn" style="font-size: 20px">查看答案</button>
<a href="{{url_for('fun2', num=num)}}" target="_blank">
    <button style="font-size: 20px">查看解析</button>
</a>
<a href="{{url_for('fun1', num=num-1)}}">
    <button style="font-size: 20px">上一页</button>
</a>
<a href="{{url_for('fun1', num=num+1)}}">
    <button style="font-size: 20px">下一页</button>
</a>
<a href="{{url_for('index')}}" target="_blank">
    <button style="font-size: 20px">返回首页</button>
</a>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/001.js') }}"></script>
<!--用于隐藏答案的js-->
<script type="text/javascript">
    function jump() {
        alert('还在开发中，等等哈')
    }
</script>
</html>